### Java / Spring ###
target/
*.class
*.log
logs/

### Config (IMPORTANT) ###
application.properties
application.yml
.env
.env.*

### Maven ###
.mvn/wrapper/maven-wrapper.jar
dependency-reduced-pom.xml

### IDE ###
.idea/
.vscode/
*.iml

### OS ###
.DS_Store
Thumbs.db